extends template 
block vars 
    - var title = "IBM Home Page"
block body 
    h1 Authorisation Example for IBM  
    p Welcome to Our Application if your are registered user <a href="/login"> login here </a> new users register <a href="/register"> here </a> to continue.  